<ul class="content-block__list">
  <li>
    <a href="<%= "mailto:#{item[:email_address]}#{query_params}" %>" class="email">
      <%= link_text %>
    </a>
  </li>
  <% if item[:description] %>
    <li>
      <%= render_govspeak(item[:description]) %>
    </li>
  <% end %>
</ul>
