<div class="vcard">
  <% if block_type.nil? %>
    <%= render_govspeak(content_block.details[:description]) if content_block.details[:description] %>
    <dl class="content-block__contact-list">
      <% items.each do |block_type, _, item| %>
        <dt class="content-block__contact-key"><%= item[:title] %></dt>
        <dd class="content-block__contact-value">
          <%= component_for_block_type(block_type).new(item:).render.html_safe %>
        </dd>
      <% end %>
    </dl>
  <% else %>
    <%= component_for_block_type(block_type).new(item: item_to_render).render.html_safe %>
  <% end %>
</div>
