<ul class="content-block__list">
  <li>
    <a href="<%= item[:url] %>" class="url content-block__link">
      <%= link_text %>
    </a>
  </li>
  <% if item[:description] %>
    <li>
      <%= render_govspeak(item[:description]) %>
    </li>
  <% end %>
</ul>
